$google-blue: #4285f4;
.custom-button {
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    min-width: 165px;
    width: auto;
    height: 50px;
    padding: 0 35px;
    line-height: 50px;
    font-weight: bolder;
    font-size: 15px;
    display: flex;
    justify-content: center;
    &:hover {
        color: black;
        background-color: white;
        border: 1px solid black;
    }
    &.google-button {
        background-color: $google-blue;
        color: white;
        &:hover {
            border: none;
            background-color:#357ae8;
        }
    }
    .inverted {
        color: black;
        background-color: white;
        border: 1px solid black;  
        &:hover {
            color: white;
            background-color: black;
            border: 1px solid white;
        }     
    }
}
